/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
.item{
    background-color:black;
    opacity:0.7;

}
/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{ 
    width: 300px;
    padding: 20px;
    height: auto;
} 

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
#order{
    font-size: 13px;
    padding: 4px 8px;
}
.center{
    list-style: none;
}

.insta{
    width:30px;
    height:30px;
    position:absolute;
    right:70px;
    top:20px;
}
.insta:hover{
    width:35px;
    height:35px;
}
.twitter{
    width:40px;
    height:40px;
   position:absolute;
   right:20px;
   top:15px;
}
.twitter:hover{
    width:45px;
    height:45px;
}